$colors: (
  primary: #36bbd9,
  primary-dim: #239db9,
  primary-dark: #1e8299,
  secondary: #3e4459,
  secondary-dim: #292d3b,
  secondary-dark: #1a1c25,
  secondary-orange: #ff8e0d,
  light: #ffffff,
  medium: #eeeeee,
  dark: #9b9b9b,
  success: #42c928,
  success-dark: #00b847,
  warning: #ffc50d,
  warning-dark: #eaa108,
  danger: #c9302c,
  danger-dark: #b32420,
  disabled: #e5e5e5,
  disabled-dark: #9b9b9b,
  plus-fee: #ff7043,
  description: #bbb7ba,
  booking-shadow: rgba(#e5e5e5, 0.5),
  shadow-light: rgba(229, 229, 229, 0.5),
  shadow-dark: rgba(#9a9a9a, 0.5),
  official-sale: #ff901d,
  cleaner-card-border: #cfcfcf,
  normal-bg-color: #f5f4f4,
  light-bg: #f5f3f4,
  new-service-bg: #f3f4f5,
  footer-bgcolor: #4a4a4a,
  covid-pass: #45a708,
  covid-vaccinated: #ff8547,
  new-home-bg: #e6f6f9,
);
